/*---------------------
  Feature Item
-----------------------*/

.feature-item {
	text-align: center;
	min-height: 380px;
	margin-left: -15px;
	margin-right: -15px;
	padding: 100px 15px 15px;
	position: relative;
}

.feature-item:hover:before {
	opacity: 1;
}

.feature-item:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: #6d7838;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.feature-item h3 {
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 14px;
}

.feature-item p {
	color: #ffffff;
	margin-bottom: 22px;
}

.feature-item .primary-btn.f-btn:hover:after {
	opacity: 1;
}

.img-responsive {
	display: block;
	height: 100%;
	width: auto;
	background-repeat: no-repeat;
}

.service-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .service-section {
      padding: 5em 0; } }
  .service-section.about-section-sm {
    padding: 4em 0; }

.service-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .about-section-heading {
      font-size: 3rem; } }
	  
	  
.bgimg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .bgimg, .bgimg .container .row {
    height: 500px; }
  .bgimg:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1; }
  .bgimg .lead {
    color: #fff; }
  .bgimg > .container {
    z-index: 2;
    position: relative; }
  .bgimg h2 {
    color: #fff;
    font-size: 3rem;
    margin-top: 0;
    font-weight: bold; }
    @media (max-width: 991.98px) {
      .bgimg h2 {
        font-size: 2rem; } }
  .bgimg a {
    color: #fff;
    text-decoration: underline; }
    .bgimg a:hover {
      text-decoration: none; }
	  
#videoModalCenter1 .modal-content {
    background-color: transparent;
	border: 0px solid rgba(0, 0, 0, 0.2);
}

#videoModalCenter1 .modal-content span {
    color: #fff;
}

#videoModalCenter1 .modal-header {
    border-bottom: 0px solid #dee2e6;
}

#videoModalCenter1 .modal-footer {
    border-top: 0px solid #dee2e6;
}

#videoModalCenter1 .close {
    float: right;
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/*---------------------
  Classes Time Table Section
-----------------------*/
.class-item {
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  z-index: 1; }
  .class-item .class-item-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px; }
    .class-item .class-item-thumbnail img {
      max-width: 100px;
      border-radius: 4px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px; }
  .class-item .class-item-text h2 {
    font-size: 18px;
    margin-bottom: 0px; }
    .class-item .class-item-text h2 a {
      color: #000; }
  .class-item .class-item-text p, .class-item .class-item-text span {
    color: #aeaeae; }
  .class-item .class-item-text span {
    font-size: 16px; }
  .class-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 2;
    background: #6d7838; }
    .class-item:hover h2 a {
      color: #fff; }
    .class-item:hover p, .class-item:hover span {
      color: #fff; }

.days {
  width: 100%;
  padding: 0;
  margin: 0 0 50px 0; }
  .days li {
    text-align: center;
    display: inline-block;
    width: 14.25%; }
    .days li a {
      background: #eee;
      padding: 10px;
      display: block; }
      .days li a:hover, .days li a.active {
        background: #6d7838;
        color: #fff; }


.classtime-section {
	background: #151515;
	padding-top: 90px;
}

.classtime-section .section-title {
	margin-bottom: 48px;
}

.timetable-controls {
	text-align: center;
	margin-bottom: 40px;
}

.timetable-controls ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 600;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	display: inline-block;
	margin-right: 80px;
	cursor: pointer;
	position: relative;
}

.timetable-controls ul li.active {
	color: #6d7838;
}

.timetable-controls ul li.active:after {
	opacity: 1;
}

.timetable-controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -7px;
	width: 100%;
	height: 2px;
	background: #6d7838;
	content: "";
	opacity: 0;
}

.timetable-controls ul li:last-child {
	margin-right: 0;
}

.classtime-table .ts-item {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.classtime-table.filtering .ts-item {
	opacity: 0;
}

.classtime-table.filtering .ts-item.show {
	opacity: 1;
}

.classtime-table table {
	width: 100%;
	border: 1px solid #1f1f1f;
	background: #212121;
	text-align: center;
}

.classtime-table table thead tr th {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	padding: 25px 5px;
}

.classtime-table table tbody {
	border-top: 1px solid #171717;
}

.classtime-table table tbody tr td {
	text-align: center;
	border-right: 1px solid #171717;
	border-bottom: 1px solid #171717;
	width: 146px;
	padding: 26px 10px 28px;
	position: relative;
	z-index: 1;
}

.classtime-table table tbody tr td:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#1a7032), to(#6d7838));
	background: -o-linear-gradient(left, #1a7032, #6d7838);
	background: linear-gradient(to right, #1a7032, #6d7838);
	content: "";
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.classtime-table table tbody tr td.hover-bg:hover:after {
	opacity: 1;
}

.classtime-table table tbody tr td.hover-bg:hover h6 {
	color: #ffffff;
}

.classtime-table table tbody tr td.workout-time {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
}

.classtime-table table tbody tr td span {
	font-size: 16px;
	color: #ffffff;
	display: block;
	margin-bottom: 7px;
}

.classtime-table table tbody tr td h6 {
	color: #6d7838;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


.bgimg {
  width: 100%;
  position: relative; }
    .bgimg .breadcrumbs {
      /* text-transform: uppercase; */
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      z-index: 99;
      font-weight: 900;
      letter-spacing: 4px; }
      .hero-wrap .slider-text .breadcrumbs span {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7); }
        .hero-wrap .slider-text .breadcrumbs span a {
          color: #fff; }
    .bgimg .bread {
      /* text-transform: uppercase; */
      font-size: 80px;
      color: #6d7838;
      line-height: 1.2;
      font-weight: normal;
      letter-spacing: 1px;
      font-weight: 900;
      font-style: italic; }
      .bgimg .bread strong {
        color: #fff;
        font-size: 50px; }
      @media (max-width: 991.98px) {
        .bgimg .bread {
          font-size: 60px; } }
    .bgimg .btn-primary {
      border: 1px solid rgba(255, 255, 255, 0.4);
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px; }
      .bgimg .btn-primary:hover, .bgimg .btn-primary:focus {
        background: #fff !important;
        color: #000; }